<section class="group">
<%= render 'shared/nav_bar', title: 'CATEGORIES', action_btn: ('Search'), back_path: root_path %>
  <p id="notice"><%= notice %> </p>
    <div class="group-list">
      <% @groups.each do |group| %>
        <%= link_to user_group_activities_path(current_user, group), class:'my-link' do %>
          <div class="group-card">
            <%= image_tag group.icon %>
            <div class="basic-data">
              <p><%= group.name %></p>
              <p><%= group.created_at.to_date.to_s(:long) %>
            </div>
            <p> <%= group.total_group_cost %> </p>
          </div>
        <% end %>
      <% end %>
    </div>
  <div class="btn-container">
    <%= button_to 'ADD CATEGORY', new_user_group_path, method: :get, class:'btn-3' %>
  </div>
</section>