<section class="group slide-in">
  <%= render 'shared/nav_bar', title: 'CATEGORIES', action_btn: '', back_path: root_path %>
    <div class="aux-info">
      <p style='text-align: center; color: white'>
        Total:
        <%= current_user.activities.sum(:amount) %> 
      </p>
    </div>
    <div class= "search-bar">
      <%= form_with url: search_user_groups_path do |form| %>
        <%= form.text_field 'search_this', placeholder: 'Search for activity' %>
        <%= form.submit 'Search', data: { disable_with: false } %>
      <% end %>
      <div>
        <%= button_to 'Recent', search_user_groups_path(show_all: true, sort: :desc) %>
        <%= button_to 'Oldest', search_user_groups_path(show_all: true, sort: :asc) %>
      </div>
    </div>

      <%= render 'groups/listing' %>

    <div class="btn-container">
      <%= button_to 'ADD CATEGORY', new_user_group_path, method: :get, class:'btn-3' %>
    </div>
</section>
