<section class='login'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="my-field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="my-field">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

      <%= render 'shared/nav_bar', title: 'LOGIN', action_btn: (f.submit 'Log in') %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot password?", new_password_path(resource_name), class: 'message-link' %><br />
  <% end %>

  </section>